{% extends 'main.html' %}
  

   {% block content %}
    <main class="update-account layout">
     <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay>
                    <source src="image/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="right-sidebar">
               
                <div class="side-video-list">
                    <a href="" class="small-thumbnail"><img src="image/thumbnail1.png"></a>
                </div>                

            </div>
        </div>
     </div>
{% endblock %}